<nav-bar></nav-bar>
<div class="container">
    <div class="row-div">
        <div class="products-div">
            <div class="img-wrapper">
                <img class="animate__animated animate__bounceInLeft" src="assets/prod1.jpg" alt="">
                <p>10″ Cake Board</p>
            </div>
            <div class="img-wrapper">
                <img class="animate__animated animate__flash" src="assets/prod2.jpg" alt="">
                <p>Pre-Formed Box</p>
            </div>
            <div class="img-wrapper">
                <img class="animate__animated animate__bounceInRight" src="assets/prod3.jpg" alt="">
                <p>Holiday Gross Grain Ribbon</p>
            </div>
        </div>
    </div>
</div>
