<table>
  <thead><tr><td>
    <div class="header-space"></div>
  </td></tr></thead>
  <tbody><tr><td>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </td></tr></tbody>
  <tfoot><tr><td>
    <div class="footer-space"></div>
  </td></tr></tfoot>
</table>

<ng-container *ngIf="headerVersion === 1">
  <div class="header">
    <div class="image-wrapper">
      <img [src]="imageSource" alt="">
      <div class="line"></div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="headerVersion === 2">
  <div class="header">
    <div style="display: flex; justify-content: space-between;">
      <div class="image-wrapper--footer2">
        <img [src]="imageSource" alt="">
      </div>
      <div style="max-width: 40%; line-height: 22px;">
        EDZ BAKING & PACKAGING SUPPLIES
        004 Santo Niño Street Campsite
        Payatas A 1119 NCR, Second District
        - Quezon City Metro Manila
        Contact No. 09985658401
        TIN 279-110-782-00000
      </div>
    </div>
    <div class="line"></div>
  </div>
</ng-container>

