      <div class="container">
        <div class="side">
          <div class="header">
            <h1>SALES </h1>
            <h1>INVOICE</h1>
            <h1>{{customerInfo.invoiceNumber}}</h1>
          </div>
          <p>Quezon City, Metro</p>
          <p>Manila, Philippines</p>
          <p>1119</p>
          <br>
          <p class="bold">Contact Us</p>
          <p>Shopee/Lazada/</p>
          <p>Tiktok/FB/Instagram</p>
          <p>@edzbakingessentials</p>
          <br>
          <p class="bold">Registered Name</p>
          <p>EDZ BAKING & </p>
          <p>PACKAGING SUPPLIES</p>
        </div>
      
        <div class="table-div">
          <div class="personal-info">
            <p>To: {{customerInfo.name}}</p>
            <p>Company Name: {{customerInfo.company}}</p>
            <p>{{customerInfo.address}}</p>
            <p>Contact No.: {{customerInfo.contactNo}}</p>
            <p>Order ID: {{customerInfo.orderId}}</p>
            <p>Date Issued: {{customerInfo.date}}</p>
          </div>
          <table>
            <tr>
              <th>Description</th>
              <th>Quantity</th>
              <th>Unit Price</th>
              <th>Cost</th>
            </tr>
            <tbody>
              <tr *ngFor = "let item of items; let i = index ">
                <td>{{item?.description}}</td>
                <td>{{item?.quantity}}</td>
                <td>{{item?.uPrice | currency:'P'}}</td>
                <td>{{item?.cost | currency:'P'}}</td>
              </tr>
              <tr style="border-top: 2px solid">
                <td></td>
                <td></td>
                <td>Subtotal</td>
                <td>{{total.subTotal | currency:'P'}}</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>Shipping Fee</td>
                <td>{{shippingFee  | currency:'P'}}</td>
              </tr>
              <tr *ngIf="discount">
                <td></td>
                <td></td>
                <td>Discount</td>
                <td style="color: red">- {{discount | currency:'P'}}</td>
              </tr>
              <tr style="border-top: 1px solid">
                <td></td>
                <td>Tax</td>
                <td>0.00%</td>
                <td>P0.00</td>
              </tr>
              <tr style="border-top: 1px solid">
                <td></td>
                <td></td>
                <td>Total</td>
                <td>{{total.grandTotal | currency:'P'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>