 <div class="footer">
    <ng-container>
        <div>
            <h5 class="title">PAYMENT METHOD</h5>
            <p style="font-weight: bold;">Bank Name: Gcash</p>
            <p>Account Name: Edrealeen De Torres</p>
            <p>Bank Account: 0998 5658401</p>
            <br>
            <p style="font-weight: bold;">Bank Name: Paymaya</p>
            <p>Account Name: Edrealeen De Torres</p>
            <p>Bank Account: 0977 3936368</p>
            <br>
            <p style="font-weight: bold;">Bank Name: Metrobank</p>
            <p>Account Name: Edrealeen De Torres</p>
            <p>Acct No. 0323032404210</p>
            <br>
            <p>Note: Please send screenshot of successful payment. Thank you</p>
            <p></p>
        </div>
        <div class="sign">
            <p><span class="underlined"></span></p>
            <p>AUTHORIZED SIGN</p>
        </div>
    </ng-container>
</div>

<div class="footer-inv"></div>