.underlined {
    padding: 2px 120px;
    border-bottom:1.5px solid;
    line-height: 3.2em;
    width: 200px;
}

*{
    letter-spacing: .1em;
}

.title {
    padding: 10px;
    margin-bottom: 10px;
    letter-spacing: .1em;
    font-size: medium;
    width: 20em;
    color: #004AAD;
    border: 1px #004AAD solid;
}

.sign{
    text-align: right;
    font-weight: bold;
}

.sign > p:nth-child(2) {
    padding-right: 34px;
    letter-spacing: .2em;
}
