<div class="container">
    <h1>DELIVERY RECEIPT</h1>

    <p>Date: {{date | date}}</p>

    <div class="flex">
        <p style="margin-right: 20px;">TO:</p>
        <div style="flex-grow: 1;"> 
            <p>{{ deliveryDetails?.name | uppercase}}</p>
            <p>{{ deliveryDetails?.address | uppercase}}</p>
            <p>{{ deliveryDetails?.contactNo | uppercase}}</p>
        </div>
    </div>

    <div class="flex" style="justify-content: center; margin: 10px 0;">
        <label class="checkbox-container">
            <input type="checkbox" name="" id="" [checked]="deliveryDetails?.mod === 'Partial Delivery'"><span> PARTIAL DELIVERY</span>
        </label>
        <label class="checkbox-container">
            <input type="checkbox" name="" id="" [checked]="deliveryDetails?.mod === 'Complete Delivery'"> COMPLETE DELIVERY
        </label>
    </div>
    <table>
        <tr>
            <th>QUANTITY</th>
            <th>DESCRIPTION</th>
            <th style="min-width: 120px">AMOUNT</th>
        </tr>

        <tr *ngFor="let item of items">
            <td>{{item.quantity}}</td>
            <td>{{item.description}}</td>
            <td>{{item.amount | currency: 'Php '}}</td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: end; font-weight: bold;">TOTAL</td>
            <td>{{deliveryDetails?.grandTotal | currency: 'Php '}}</td>
        </tr>
    </table>
</div>

<invoice-footer></invoice-footer>